In [2]:
import numpy as np
import pandas as pd

In [3]:
df_train = pd.read_csv('../dataset/train.csv')
df_train = df_train.loc[:, ['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]
df_train.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
print(df_train.isnull().sum())

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [5]:
df_train = df_train.dropna(subset=['Age']).reset_index(drop=True)
len(df_train)

714

In [6]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df_train['Sex'] = encoder.fit_transform(df_train['Sex'].values)
df_train.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [7]:
from sklearn.preprocessing import StandardScaler

standard = StandardScaler()
df_train_std = pd.DataFrame(standard.fit_transform(df_train.loc[:, ['Age', 'Fare']]), columns=['Age', 'Fare'])

df_train['Age'] = df_train_std['Age']
df_train['Fare'] = df_train_std['Fare']
df_train.head()

   Survived  Pclass  Sex       Age      Fare
0         0       3    1 -0.530377 -0.518978
1         1       1    0  0.571831  0.691897
2         1       3    0 -0.254825 -0.506214
3         1       1    0  0.365167  0.348049
4         0       3    1  0.365167 -0.503850

In [8]:
from sklearn.svm import LinearSVC

x_train = df_train.loc[:, ['Pclass', 'Sex', 'Age', 'Fare']].values
y_train = df_train.loc[:, ['Survived']].values

y_train = np.reshape(y_train, (-1))
y_train

model = LinearSVC(random_state=0)

In [9]:
model.fit(x_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=0, tol=0.0001,
          verbose=0)

In [10]:
df_test = pd.read_csv('../dataset/test.csv')
df_test_index = df_test.loc[:, ['PassengerId']]
df_test = df_test.loc[:, ['Pclass', 'Sex', 'Age', 'Fare']]

df_test['Sex'] = encoder.fit_transform(df_test['Sex'].values)

df_test_std = pd.DataFrame(standard.fit_transform(df_test.loc[:, ['Age', 'Fare']]), columns=['Age', 'Fare'])

df_test['Age'] = df_test_std['Age']
df_test['Fare'] = df_test_std['Fare']

df_test = df_test.fillna({'Age':0, 'Fare':0})

df_test.head()

   Pclass  Sex       Age      Fare
0       3    1  0.298549 -0.497811
1       3    0  1.181328 -0.512660
2       2    1  2.240662 -0.464532
3       3    1 -0.231118 -0.482888
4       3    0 -0.584229 -0.417971

In [11]:
x_test = df_test.values
y_test = model.predict(x_test)

In [15]:
submit_note_1 = pd.concat([df_test_index, pd.DataFrame(y_test, columns=['Survived'])], axis=1)

submit_note_1.to_csv('../submissions/submit_note_1.csv', index=False)